VITE_FIREBASE_API_KEY=AIzaSyDJdc-Z8vMey_xkMp__YLq_t0TK61NqzoI
VITE_FIREBASE_AUTH_DOMAIN=campass-connect-d4f45.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://campass-connect-d4f45-default-rtdb.europe-west1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=campass-connect-d4f45
VITE_FIREBASE_STORAGE_BUCKET=campass-connect-d4f45.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=93269803759
VITE_FIREBASE_APP_ID=1:93269803759:web:20cc407252b66cb5a8511a
VITE_FIREBASE_MEASUREMENT_ID=G-VHGCGL914B
VITE_FIREBASE_FUNCTIONS_REGION=europe-west1
VITE_CLOUDINARY_CLOUD_NAME=qqubap8k
VITE_CLOUDINARY_UPLOAD_PRESET=
